body{

    margin: 0;
    padding: 0;
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;/*встречается чаще всего в макете, потом его будем переопределять*/
    line-height: 24px;
    font-weight: 700;
    font-family: "Cuprum", Arial,sans-serif; /*Cuprum-Regular;/*sans-serif*//*стили для базового шрифта, который встречается чаще всего в макете.*/
    color: #000000; /*цвет текста*/
   /* text-transform: uppercase; /*буквы текста большие*/
    background-color: #ffffff; /*цвет фона*/
    font-stretch: normal;
    letter-spacing: normal;
}


.inner-page{/*общие стили для catalog.html*/
    font: inherit; /*унаследуем от родителя body*/
    color: #000000;
    font-family: "PTSans";/*на внутренней станице др шрифт, преопределили*/
    text-transform: uppercase; /*буквы текста большие*/
}

 

                /*стили для index.html*/
            /*Г Л О Б А Л Ь Н Ы Е  С Т И Л И*/
a {
    text-decoration: none; /*у  всех ссылок в проекте   убираем нижнее подчеркивание, котрое ставит браузер по умолчанию*/
}


.button{ /*общий стиль для всех кнопок, потом для конкретных кнопок будем переопределять*/
    font: inherit; /*унаследуем все свойства шрифтов от родителя*/
    line-height: 18px; /*переопределили*/
    color: #ffffff;
    text-align: center; /*текст распложим по центру*/
    vertical-align: middle; /*вертикальное выравнивание текста*/

    
    background-color: #ee3643;
    border: none; /*границ нет*/
    text-transform: uppercase; /*текст большими буквами**/
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;

    letter-spacing: normal;
}


.button:hover,
.button:focus{
    background-color: #ca2c37;
}


.button:active{
    background-color: #ba2732;
}



.container{ /* обертка-центровщик для main, footer */
    
    width: 940px;
    margin: 0 auto; /*отцентрирваоли блок*/
    padding: 0 10px;
    
}

.main-header{
    
    margin-bottom: 25px; /* отсутп после шапки до хлебных крошек*/
}
  


            /*С Т И Л И   Д Л Я  Ш А П К И*/
.first_head{
    color: white;
    background-color: #293449;/**темносиний фоновый цвет*/
    font-size: 17px;
    line-height: 18px;
}


.first_head .container{ /*флекс контейнер*/
  display: flex;
  justify-content: space-between;
  height: 42px;  
  align-items: center; /*выравнивание элементов вдоль по оси*/
}




.section_one{/*флекс элемент корый сам является флекс контенйером*/
    width: 280px; /*флекс элементу задаем размер, тогда повится расстяние между элементами*/
    display: flex;
    justify-content: space-around;
    /*margin-right: 20px;*/
    
}




.section_two{/*флекс элементу задаем размер , флекс элемент корый сам является флекс контенйером*/
    width: 480px;/*тогда появится расстяние между элементами*/
    display: flex;
    justify-content: space-around;
}





.second_head { /*флекс контейнер  /*блок с голубым фоном*/*/
    display: flex;
    flex-direction: column; /* главная ось направленв сверху  вниз*/
    justify-content: space-around;/*расстояние между флекс элементом и границей контейнера есть*/
    background-color: #f4f7f9;
    height: 278px; /*а может и не надо так делать??*/
}


   



.content_of_second_head{/*флекс элемент котрый сам является флекс  контейнером*/
    display: flex;
    justify-content: space-between;/*расстояние между флекс элементом и границей коненера нет*/
    align-items: center; /*выравнивание элементов вдоль поперечной оси*/
}


.content_of_second_head section:nth-child(1){ /*флекс элементу*/
    margin-left: 60px;
    
}


.info_about_shop{
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;

}


.phone{
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}


.addresss{
    color: #32425c;

}





                    /* С Т И Л И  Д Л Я  Б Л О К   Н А В И Г А Ц И Я*/

.site-navigation { /* для главного меню*/
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  box-shadow:  0px -5px 0 0 #293449;  
  background-color: #293449;/* фоновое изображение */

}



.site-navigation ul{  /*флекс элемент, котрый сам является флекс контенером*/
    display: flex;
    
    justify-content: space-around;/*расстояние между флес элементом и границей кон-ра есть*/
    align-items: center; /*выравнивание элементов вдоль попереченой оси*/
    list-style: none; /*убираем маркеры  */
    
}


.site-navigation a{
    color: #ffffff;
}


.site-navigation a:hover,/*при наведении */
.site-navigation a:focus
{
    background-color:  #293449;
}


.site-navigation a:active{ /*при нажатии на пункт главного  меню*/
    color: rgba(255, 255, 255, 0.5);
}


.make-order-button{/*Кнопка вверху страницы Оформить заказ*/
    text-transform: none; /*переопределили*/
    background-color: #63a63e;

}



.make-order-button:hover,
.make-order-button:focus{
    background-color:#518534;
}


.make-order-button:active{/*при нажатии*/
    background-color:#63a63e;
}


.button_login{/*кнопка Войти*/
    background-color:#ffffff;
    color: #000000;
    text-transform: none; /*переопределили*/
    font-size: 21px;
    line-height: 21px;
}


.button_registration{/*кнопка Регитрация*/
    background-color:#ffffff;
    color: #000000;
    text-transform: none; /*переопределили*/
    font-size: 21px;
    line-height: 21px;
}


.button_login:hover,
.button_login:focus,
.button_registration:hover,
.button_registration:focus
{
    background-color:#ffffff;
    color: #ee3643;
}


.button_login:active,
.button_registration:active
{
    color:rgba(0, 0, 0, 0.3);
}



.site-navigation a:active{/*при клике*/
    background-color: #1d2739;
}


.index-columns{ /*блок с текстом на белом фоне*/
    background-color: #ffffff;/*фоновый цвет*/
    color: #000000;
}


.index-columns .container{
    display: flex;
    justify-content: space-between;/*расстояние между флекс элементом и границей коненера нет*/
    align-items: center; /*выравнивание элементов вдоль попреерченой оси*/
}

.index-columns h2{
    font-size: 30px;
    line-height: 30px;
}


.index-columns p{
     font: inherit; /*наследуем от родителя*/
     line-height: 24px;
}


.text{
    font: inherit;/*наследуем от родителя*/
    font-size: 13px;

    font-family: PTSans;

}


.site-navigation,
.user-navigation {
  list-style: none; /*маркеры у спиcка меню убираем, так как их ставит сам браузер по умолчанию, задаем самому спсику ul*/
}


.site-navigation a,
.user-navigation a{ /*цвет ссылок в верхнем меню белый*/
    color: #ffffff;
}


.site-navigation a:hover, /*при наведении на элемент меню*/
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424; /*фоновый цвет менятся*/
}


            

            /*С Т И Л И  Д Л Я  П О Д В А Л А*/
.main-footer {
  
  margin-top: 65px;/*отступ верхний у подвала*/

  
}


.for_footer_part_one{/*первая часть подвала*/
    background-color: #32425c;
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;

}

.for_footer_part_one .container{ /*флекс контейнер*/
    display: flex;
    flex-direction: column; /*главная ось  идет сверху вниз*/
    justify-content: center;/*расположение элементов вдоль главной оси*/

}


.for_footer_part_one .container nav{/*флекс элемент котрый сам является  контенйером*/
    display: flex;
    justify-content: space-between;/*расстояние между флекс элементом и границей коненера нет*/
    align-items: center; /*выравнивание элементов вдоль попреерченой оси*/
}



.for_footer_part_one nav ul{/*флекс элемент котрый сам является  конетнйером*/
    width: 600px; /*флексэлементу задаем размер, иначе элементы слипнутся*/
    display: flex;
    justify-content: space-around;/*расстояние между флекс элементом и границей коненера*/
    padding-left: 0;
    padding-right: 0;
    
}


/*ПОЧЕМУ ПОСЛЕДНИЙ ПУНКТ НЕ ПРИЖАЛСЯ К ПРАВОМУ КРАЮ??*/
.for_footer_part_one  section{/*флекс элемент, котрый сам является флекс контейнером*/
    display: flex;
    justify-content: space-between;/*расстояние между флекс элементом и границей контейнера нет*/
    align-items: center; /*выравнивание элементов вдоль поперечной*/
    
}

.footer_first_menu{
    list-style: none;
}


.footer_first_menu a{
    color: #f1f5f7;

}


.footer_first_menu a:hover,
.footer_first_menu a:focus{
    text-decoration: underline;
}


.footer_first_menu a:active{
    text-decoration: none;
    color: rgba(241, 245, 247, 0.5);
}



.footer_second_menu{/*флекс-элемент*/
    width: 1200px;
    display: flex;
    justify-content: space-around;
    list-style: none; /*убираем маркеры корты сатвит браузер по умолчанию*/
}



.footer_second_menu a{
    color: #ffd180;
}


.footer_second_menu a:hover,
.footer_second_menu a:focus{
    text-decoration: underline;
}


.footer_second_menu a:active{
    text-decoration: none;
    color: rgba(255, 209, 128, 0.5);
}


.for_footer_part_two{/*вторая часть подвала*/
    background-color:#293449;
    color: #ffffff;

    font-size: 16px;
    line-height: 18px;
}

.for_footer_part_two .container{ /*флекс контйнеер*/
    display: flex;
    align-items: center; /*выравниевание элементов вдоль поперечнойной оси*/
}



.container p:nth-child(1){
    margin-right: 140px;
}


.container p:nth-child(3){
    margin-left: auto;
}

.list_socials{
    list-style: none;
}


.feedback{
    color: #ffd180;/*переопределили*/
}


.for_link{
    color: #ffd180;/*переопределили*/
}


.feedback:active,
.for_link:active{
    color:#ee3643;
}




/***********************************************************************/

                    /*С Т И Л И  Д Л Я catalog.html*/

.name{ /*в шапке*/
    font-size: 21px;/*переопредлили*/
    line-height: 21px;
    color: #000000;
}



.name:active{
   color: rgba(0, 0, 0, 0.3);
}



.small_link{ /*Мои заказы и Личный кабинет в header*/
    text-decoration: underline;
    color: #32425c;
    font-size: 16px; /*переопределили*/

}


.small_link:hover,
.small_link:focus{
    color: #ee3643;
}


.small_link:active{
    color:  rgba(50, 66, 92, 0.3);
}


.breadcrumbs{ /*хлебные крошки*/
    font-size: 13px; /*переопределили от body*/
    padding: 0;
    margin: 0;
    margin-bottom: 20px; /*отступ после крошек*/
    list-style: none; /*убираем маркеры у ссылок, котрый ставит браузер по умолчанию*/
}


.breadcrumbs a{

    color: #000000;
}


.breadcrumbs a:hover,
.breadcrumbs a:focus{
    /*при наведении на ссылку и если она в фокусе(наведение курсора)*/
    text-decoration: underline; /*она подчеркивается*/

}


.page-title{ /*для h1*/
    
    font-size: 30px; /*перепределили*/
    line-height: 30px;/*перепределили*/
    color: #32425c;
    background-color: #f2f6f8;
    font-family: "Cuprum"; /*перепределили*/
}


.catalog-columns {/*флекс контейнр(объединяет фильтры и каталаг)*/
  
    display: flex;
    justify-content: space-between;
}




.filters{
    
    width: 200px;
    
}
    

.filter fieldset{ /*форма группы полей*/

    border: none; /*убираем  обводку у fieldset()*/
}


.filter legend{
    letter-spacing: 0.17px;
    font-size: 17px;/*перепределили от inner-page*/
    line-height: 30px; /*перепределили*/

}


.filter ul{
    padding: 0;
    list-style: none;/*убираем маркеры у списка кторый ставит браузер по умолчанию*/

}


.filter-input:hover + label,
.filter-input:hover + label { /*label котрый СРАЗУ идет после .filter-input*/
    color:#b5b5b5;

}


.filter-input:disabled{ /*для задизейбленного поля*/
    color: rgba(0, 0, 0, 0.4);

}


.filter label{
    font-size: 15px ;/*переопределили*/
    line-height: 20px;/*переопределили*/
    font-family: "PTSans";
}


.button_show{ /*кнпока Показать  в фильтрах*/
  background-color: white;
  color: black;
  border: solid 1px #e5e5e5;
  font: inherit; /*унаследуем от родителя .inner-page*/
  font-size: 13px;
    line-height: 18px;
    font-family: "PTSans";
}

.catalog{
   
    width: 710px;
    
}


.catalog-list{ /* флекс элемент, котрый сам флекс контейнер, меню карточек товаров*/
    
    display: flex;
    justify-content: space-between;/*равномерное распредление элементов вдоль гланвой оси*/
    flex-wrap: wrap; /*перенос есть*/
    padding: 0; /*убираем стили по умолчанию*/
    margin: 0;/*убиарем стили по умолчанию*/
    list-style: none;/*убираем маркеры у пунктов(карточек товара) меню котрый ставит сам браузер*/

}


.catalog-item{ /*  флекс элемент, задаем карточке товара*/
    width: 220px;
    margin-bottom: 20px; /*чтобы карточки твара не слипались*/
    margin-right: 20px;
    
    margin-bottom: 25px;/*чтобы пагинация не прилипала  к каталогу*/
    background-color: #ffffff;  /*фоновый цвет */
    border: solid 1px #e5e5e5;
    /*text-align: center;*/ /*потом добавим может быть*/
}



.catalog-item:nth-child(3n){
    margin-right:0; /*у последней картчоки убираем отсптуп справа*/
}



.catalog-item:hover{ /*при наведении на карточку*/
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);

}


.catalog-item { /*цвет текста ссылки на картчоке товара*/
    color: #000000;
}


.pagination-list { /*Пагинация*/
    
  padding: 0; /*сбрасываем стили по умолчанию*/
  margin: 0;

  list-style: none;

  
}


.catalog-item h3{ /*заголовки в картчоках*/
    font: inherit;
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    text-transform: none;
    font-family: "PTSans";
}





.catalog-item-price { /*стиль дял цены товара*/

    font-size: 17px;

    text-align: center; /*выравнивание текста по центру, ПОЧЕМУ НЕ ПЕРЕОПРЕДЕЛЯЕТСЯ ПОТОМКАМи .price_grey и .item-button, центриурется только у 5-гои последнего элемента??? */

}


.price_grey { /*переопрелеояем стили*/
    font: inherit;
    color: #999999;
    font-size: 17px;
    text-align: center;
}




/*.catalog-item-price ~ .item-button*/
.item-button{/*кнопка с ценой на картчоке товара*/
    font: inherit;
    font-family: "PTSans";
    background-color: #ee3643;
    color: #ffffff;  /*цвет текста на кнопках*/

}






.buy_button{ /*  зеленая кнопка Купить*/
    font-family: "Cuprum"; /*переопредеяляем*/
    color: #ffffff; /*переопределили*/
    background-color: #63a63e;
    box-shadow: inset 0px -3px 0 0 #367315;
    text-transform: uppercase;

}


.buy_button:hover,
.buy_button:focus{
    background-color: #5fbb2d;
    box-shadow: inset 0px -3px 0 0 #367315;

}


.buy_button:active{
    background-color: #518534;

}


.bookmark_button{ /*Кнопка В закладки*/
    font: inherit;
    background-color: #ffffff;
    border: solid 3px #63a63e;
    color: #32425c;/*переопределили*/
    text-transform: uppercase;
    font-family: "Cuprum"; /*переопредеяляем*/
    
}


.bookmark_button:hover,
.bookmark_button:focus{
    border: solid 3px #32425c;
    color: #32425c;
}


.bookmark_button:active{
    color: rgba(50, 66, 92, 0.3);
    border: solid 3px rgba(50, 66, 92, 0.3);
}


.filters h2.visually-hidden{
    display: none; /*не отобраажем*/
}


.catalog  h2.visually-hidden{
     display: none; /*не отобраажем*/
}

