body{

    margin: 0;
    padding: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;/*встречается чаще всего в макете, потом его будем переопределять*/
    line-height: 24px;
    font-weight: 700;
    font-family: "Cuprum", "Arial", sans-serif; /*Cuprum-Regular;/*sans-serif*//*стили для базового шрифта, который встречается чаще всего в макете.*/
    color: #000000; /*цвет текста*/
   /* text-transform: uppercase; /*буквы текста большие*/
    background-color: #ffffff; /*цвет фона*/
    font-stretch: normal;
    letter-spacing: normal;
}


.inner-page{/*общие стили для catalog.html*/
    font: inherit; /*унаследуем от родителя body*/
    color: #000000;
    font-family: "Open Sans", sans-serif;;/*на внутренней станице др шрифт, преопределили*/
    text-transform: uppercase; /*буквы текста большие*/
    margin-top: -40px;
}



                /*стили для index.html*/
            /*Г Л О Б А Л Ь Н Ы Е  С Т И Л И*/
a {
    text-decoration: none; /*у  всех ссылок в проекте   убираем нижнее подчеркивание, котрое ставит браузер по умолчанию*/
}


.button{ /*общий стиль для всех кнопок, потом для конкретных кнопок будем переопределять*/
    font: inherit; /*унаследуем все свойства шрифтов от родителя*/
    line-height: 18px; /*переопределили*/
    color: #ffffff;
    text-align: center; /*текст распложим по центру*/
    vertical-align: middle; /*вертикальное выравнивание текста*/


    background-color: #ee3643;
    border: none; /*границ нет*/
    text-transform: uppercase; /*текст большими буквами**/
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;

    letter-spacing: normal;
}


.button:hover,
.button:focus{
    background-color: #ca2c37;
}


.button:active{
    background-color: #ba2732;
}


h2{
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", sans-serif;
    text-transform: uppercase;
}



.container{ /* обертка-центровщик для main, footer */

    width: 940px;
    margin: 0 auto; /*отцентрирваоли блок*/
    padding: 0 10px;

}

.main-header{

    margin-bottom: 25px; /* отсутп после шапки до хлебных крошек*/
}



            /*С Т И Л И   Д Л Я  Ш А П К И*/
.first_head{
    color: white;
    background-color: #293449;/**темносиний фоновый цвет*/
    font-size: 17px;
    line-height: 18px;
}


.first_head .container{ /*флекс контейнер*/
  display: flex;
  justify-content: space-between;
  
  align-items: center; /*выравнивание элементов вдоль по оси*/
    
}




.section_one{/*флекс элемент корый сам является флекс контенйером*/
    width: 50px; /*флекс элементу задаем размер, тогда появится расстяние между элементами*/
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    /*margin-right: 20px;*/
    
}


.main-header-logo{ /*флекс элемент*/
    width: 109px; /*разvеры иконки*/
    height: 19px;
    display: block;
    padding: 13px 55px;
    background-color: #ee3643;
    line-height: 1;
    margin-right: 25px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}






.search/*флекс элемент*/
{
    position: relative;/*родитель для иконки*/
    max-width: 180px;
    margin-left: 35px; /*место для иконки поиска*/
   
}


.search::before { /* псевдоэлемент для иконки поиска*/
  content: "";
  position: absolute;
    
  top: 0px;
  left: -33px;
  width: 17px;/*размеры иконки*/
  height: 17px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
    
}





.section_two{/*флекс элементу задаем размер , флекс элемент корый сам является флекс контенйером*/
    /*width: 480px;/*тогда появится расстяние между элементами*/
    display: flex;
    justify-content: space-between;
    align-items: center; /*выравнивание элементов вдоль по оси*/
}


.bookmark-icon{ /*флекс элемент*/
    
    
    position: relative;/*родитель для иконки*/
    max-width: 95px;
    padding-left: 50px; /*место для иконки заклдаки*/
    margin-right: 20px;
}


.bookmark-icon::before { /* псевдоэлемент для иконки закладки*/
  content: "";
  position: absolute;
    
  top: 0px;
  left: 22px;
  width: 14px;/*размеры иконки*/
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
    
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
    
}


.trash{/*флекс элемент*/
    position: relative;/*родитель для иконки*/
    max-width: 95px;
    padding-left: 50px; /*место для иконки корзины*/
    margin-right: 30px;
}


.trash::before { /* псевдоэлемент для иконки коризны*/
  content: "";
  position: absolute;
    
  top: 0px;
  left: 22px;
  width: 15px;/*размеры иконки*/
  height: 15px;
  background-image: url("../img/icon-cart.svg");
    
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;    
}






.second_head { /*флекс контейнер  /*блок с голубым фоном*/*/
    display: flex;
    flex-direction: column; /* главная ось направленв сверху  вниз*/
    justify-content: flex-start;/*расстояние между флекс элементом и границей контейнера есть*/
    background-color: #f4f7f9;
    height: 278px; /*а может и не надо так делать??*/
    margin-bottom: 60px; /*чтобы блоки не  прилипали к шапке*/

}






.content_of_second_head{/*флекс элемент котрый сам является флекс  контейнером*/
    width: 940px;
    display: flex;
    
    justify-content: space-around;/*расстояние между флекс элементом и границей коненера нет*/
    align-items: center; /*выравнивание элементов вдоль поперечной оси*/
    padding-top: 25px;
    margin-bottom: 25px;
    
}


.content_of_second_head section:nth-child(1){ /*флекс элемент*/
    width: 196px;
    margin-left: 20px;

}


.content_of_second_head section:nth-child(2){/*флекс элемент*/
    width:  270px;
    
    margin-left: 10px;
}





.info_about_shop{
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;

}


.phone{
    
    position: relative;/*родитель для иконки трубки*/
    padding-left: 70px; /*место для иконки трубки*/
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 3px solid #ffffff;
    
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 4px;
    
}



.phone::before { /* псевдоэлемент для иконки трубки*/
  content: "";
  position: absolute;
    
  top: 10px;
  left: 10px;
  width: 19px;/*размеры иконки*/
  height: 19px;
  background-image: url("../img/icon-phone.svg");
    
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;    
}




.addresss{
    margin-left: 5px;
    
    color: #32425c;

}



.wrap-for-login-button{/*флекс элемент */
    width: 280px;
    /*border: 1px solid grey;*/
    padding-top: 12px ;
    padding-bottom: 12px;
    margin-left: -20px;
    margin-top:-20px;
    
}

.for-login-icon{ /*  для иконки логина*/
    position: relative;
}


.for-login-icon::before{ /*псевдоэлемент для иконки логина*/
    content: "";
    position: absolute;
    width: 20px; /*рамзеры иконки*/
    height: 17px;
    
    top: 15px;
    left: 12px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    /*background-color: #ff0000;*/
    
}

    
.button_login{/*кнопка Войти */
    
    background-color:#ffffff;
    padding-top: 12px ;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right:27px;
    
    
    color: #000000;
    text-transform: none; /*переопределили*/
    font-size: 21px;
    line-height: 1;
    /*border: 1px solid grey; /*потом уберем*/
    margin-right: 4px; /*расстояние между кнопками*/
    
}


.button_registration{/*кнопка Регистрация*/
    background-color:#ffffff;
    
    
    padding-top: 12px ;
    padding-bottom: 12px;
    padding-right: 22px;
    padding-left: 25px;
    color: #000000;
    text-transform: none; /*переопределили*/
    font-size: 21px;
    line-height: 1;
    /*border: 1px solid grey;/*потом уберем*/
     
}
    
    
    

                    /* С Т И Л И  Д Л Я  Б Л О К   Н А В И Г А Ц И Я*/

.site-navigation { /* для главного меню*/
    
  width:940px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  box-shadow:  0px -5px 0 0 #293449;
  background-color: #293449;/* фоновое изображение */
  box-shadow: inset 0px -5px 0 0 #32425c; 
    
}



.site-navigation ul{  /*флекс элемент, котрый сам является флекс контенером*/
    display: flex;
    flex-wrap: wrap; /*перенос элементов*/
    justify-content: space-between;
    align-items: center; /*выравнивание элементов вдоль попереченой оси*/
    list-style: none; /*убираем маркеры*/
    padding-left: 52px; /*отсупы от первого пункта меню до левой границы списка*/
    padding-right: 55px;   /*отсупы от последнего пункта меню до правой границы списка*/
}

.site-navigation li{
    padding-top: 22px;
    padding-bottom: 26px;
}


.site-navigation a{
    display: block;/*делаем ссылки блочными*/
    color: #ffffff;

}


.site-navigation a:hover,/*при наведении */
.site-navigation a:focus
{
    background-color:  #293449;
}


.site-navigation a:active{ /*при нажатии на пункт главного  меню*/
    color: rgba(255, 255, 255, 0.5);
}


.make-order-button{/*Кнопка вверху страницы Оформить заказ*/
    display: block;
    padding-top: 12px ;
    padding-bottom: 13px ;
    padding-left: 20px ;
    padding-right: 22px ;
    line-height: 1;
    text-transform: none; /*переопределили*/
    background-color: #63a63e;

}



.make-order-button:hover,
.make-order-button:focus{
    background-color:#518534;
}


.make-order-button:active{/*при нажатии*/
    background-color:#63a63e;
}




.content_of_second_head section:last-child{
    margin-right: -40px; /*чтобы выравнить кнопку Регитрация по правому краю*/
}


.button_login:hover,
.button_login:focus,
.button_registration:hover,
.button_registration:focus
{
    background-color:#ffffff;
    color: #ee3643;
}


.button_login:active,
.button_registration:active
{
    color:rgba(0, 0, 0, 0.3);
}



.site-navigation a:active{/*при клике*/
    background-color: #1d2739;
}

.site-navigation,
.user-navigation {
  list-style: none; /*маркеры у спиcка меню убираем, так как их ставит сам браузер по умолчанию, задаем самому спсику ul*/
}


.site-navigation a,
.user-navigation a{ /*цвет ссылок в верхнем меню белый*/
    color: #ffffff;
}


.site-navigation a:hover, /*при наведении на элемент меню*/
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424; /*фоновый цвет менятся*/
}


.cards{ /*флекс контейнер*/
    display: flex;
    justify-content: space-between;
    margin: 0;/*сбрысываем стили по умолчанию*/
    padding: 0;/*сбрысываем стили по умолчанию*/
    list-style: none;/*убираему спсика маркеры, это свойство задаем спсику!!!*/
}





.three-cards{
    margin-bottom: 40px;
}



.wrapper-cards{ /*флекс контейнер*/
    display: flex;
    justify-content: space-between;
    margin: 0;/*сбрысываем стили по умолчанию*/
    padding: 0;/*сбрысываем стили по умолчанию*/
    list-style: none;/*убираему спсика маркеры, это свойство задаем спсику!!!*/

}

.for-big-image{
    width: 620px;
}

.for-big-image a{
    position:relative;
}

/*.for-big-image a::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    
}
*/


.for-big-image a{
    margin-top: -30px;
    z-index: 30px;
}





.block-item{/*карточка, флекс-элемент*/

    width: 300px;
    height: 103px;
    margin-bottom: 20px; /*чтобы карточки твара не слипались*/
    margin-right: 20px;

}


.block-item h3{
    margin: 0; /*сбрасываем стили*/
    margin-bottom: 23px;
    color: white;
    font-size: 24px;
    line-height: 30px;
}



.for-label-button{
    position: relative;
    padding-left: 25px;
    padding-top: 20px;

    
}



.icon{
    position: absolute;
    top: 18px;
    right: 40px;
}


.last-two-cards{
    margin-right: 0;
    width: 275px;

}


div .last-two-cards:nth-child(1){
    background-color:  #8ed78f;
}


div .last-two-cards:nth-child(2){
    background-color: #ffc047;
}




.block-item:nth-child(1){
    background-color: #ffbf47;
}


.block-item:nth-child(2){
    background-color: #3bbce3;
}

.block-item:nth-child(3){
    background-color: #dc91d8;
    margin-right: 0;
}




.block-item .button{/*кнопка на карточках(Материалы Инструмент Техника  Скидка50% Доставка)*/
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left:0;
    padding-right:0;

    margin-bottom: 7px;
    padding: 10px 20px;


    opacity: 0.1;
    background-color: #000000;
}


    
    
.popular-tovar{ /*флекс контейнер*/
   display: flex;
   width: 940px;
  
   justify-content: flex-start;
   align-items: center;
   background-color: #f9f5f0;
   
    margin-bottom: 20px;
    
}


.page-title{ /*флекс элемент*/
    margin-left: 30px;
    
    
    font-size: 30px; /*перепределили*/
    line-height: 30px;/*перепределили*/
    color: #32425c;
    text-transform: uppercase; /*буквы текста большие*/
    font-family: "Cuprum", sans-serif; /*перепределили*/
    
}


.popular-tovar a{
     margin-left: auto;
     margin-right: 25px;
}




.popular-tovar-button{/*флекс элемент*/
    display: block;
    width: 253px;
    padding-top: 14px;
    padding-bottom: 14px;
    line-height: 1;
    border-radius: 3px;

}







.catalog-item-on-main-page:nth-child(4){
    margin-right: 0; /*у последней картчоки убираем отсптуп справа*/
}


.catalog-perfomances{

    width: 1020px; /* как-то подобрала 220*4= 880 + чуток */
}


.catalog-list-perfonamces{/* флекс контейнер*/
    display: flex;
    justify-content: flex-start;/*равномерное распредление элементов вдоль гланвой оси*/

    flex-wrap: wrap; /*перенос есть*/
    padding: 0; /*убираем стили по умолчанию*/
    margin: 0;/*убиарем стили по умолчанию*/
    list-style: none;/*убираем маркеры у пунктов(карточек товара) меню котрый ставит сам браузер*/

}


.catalog-item-perfomances{ /* флекс -элемент*/
    display: flex;
    width: 218px;
    height: 125px;

    margin-right: 20px;

    margin-bottom: 20px;/*чтобы пагинация не прилипала  к каталогу*/

    background-color: #ffffff;  /*фоновый цвет */
    border: solid 1px #e5e5e5;

}

.catalog-item-perfomances a{ /*флекс элемент*/
    margin: auto; /*чтобы изображение отцентрироавлоась*/
}


.catalog-item-perfomances:nth-child(4n){
    margin-right:0;
}


.delivery-services-section{
    height: 522px;
    background-color:  #f4f7f9;
}


.about-cervices{
    margin-bottom: 30px;
}


.services{
    padding-top: 68px;

}


.text-about-services{
    margin-bottom:70px;
}


.with-menu{/*родитель для иконки грузовика*/
    margin:0;

    position: relative;
   /* border: 1px solid grey; */

}


.with-menu .block-for-menu{
   display: inline-block; /*так элементы выстроятся в ряд*/
}





.menu{
    list-style: none;
    width: 240px;
    padding: 0;
    margin: 0;

}


.menu li {
  margin-bottom: 0;
}


.menu li:nth-child(1){
     background-color: white;
}


.menu a {
    display: block;
    padding: 20px 20px;
    color:  white;
    border: 1px solid  #293449;
    margin-top: -1px;
    font-size: 21px;
    line-height: 30px;
    background-color: #32425c;
}


.shadow{
    margin:0;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}


.about-delivery{
    margin-left: 90px;
}


.for-delivery-image{
    position: absolute;
    top:10px;
    right: 10px;
    /*z-index: 0;*/

}


.index-columns { /*флекс контейнер*/
    display: flex;
    justify-content: space-between;/*расстояние между флекс элементом и границей коненера нет*/
    
    background-color: #ffffff;/*фоновый цвет*/
    color: #000000;
   /* border: 1px solid grey;*/
}


.company{ /*флекс элемент, котрый сам является флекс конейнером*/
    width: 519px; /*ширина*/
    display: flex;
    flex-direction: column;/*глава очь идет сверху вниз*/
    justify-content: flex-start;
}


.contacts{/*флекс элемент котрый сам является флекс конейнером*/
    width: 300px;
    display: flex;
    flex-direction: column;/*глава очь идет сверху вниз*/
    justify-content: flex-start;
}


.index-columns h2
{
    
    margin-bottom: 30px;
    margin-top: 80px;
    
}



p.text{
     font: inherit; /*наследуем от родителя*/
     line-height: 24px;
     margin:0;
    
    
     font-size: 13px;
     
      font-family: "PT Sans", sans-serif;
      margin-bottom: 30px;
}


.company  span{
    font-family: "Cuprum", sans-serif;
    color:black;
    font-size: 18px;
    line-height: 20px;
    
}


red-defis{
    color:#ee3643;
    margin-right: 20px;
}

.more-details-button{
    width: 140px;
    padding: 12px 38px;
    border-radius: 2px;
    margin-bottom: 80px;
}




.write-us-button{
    display: block;
    
    border-radius: 2px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 80px;
    margin-top: 19px;
}





            /*С Т И Л И  Д Л Я  П О Д В А Л А*/
.main-footer {

  margin-top: 65px;/*отступ верхний у подвала*/


}


.for_footer_part_one{/*первая часть подвала*/
    background-color: #32425c;
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;

}

.for_footer_part_one .container{ /*флекс контейнер*/
    display: flex;
    flex-direction: column; /*главная ось  идет сверху вниз*/
    justify-content: flex-start;/*расположение элементов вдоль главной оси*/

}


.wrap-for-footer_first_menu  {/*флекс элемент котрый сам является  контенйером*/
    display: flex;
    justify-content: space-between;/*расстояние между флекс элементом и границей коненера */
    margin-bottom: 20px; /*чтобы отлепить*/
}


.logo-for-footer{
    padding-top:20px;
    padding-bottom: 25px;
}

.for_footer_part_one  .footer_first_menu{/*флекс элемент котрый сам является  конетнйером*/
    width: 720px; /*флексэлементу задаем размер*/
    display: flex;
    justify-content: space-between;/*расстояние между флекс элементом и границей коненера*/
    margin:0;
    margin-top: 35px;
}





.for_footer_part_one  section{/*флекс элемент, котрый сам является флекс контейнером*/
    display: flex;
    justify-content:space-around;/*расстояние между флекс элементом и границей контейнера нет*/
    align-items: center; /*выравнивание элементов вдоль поперечной*/
    margin-bottom: 40px;

}

.about-address-footer{
    width: 322px;
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.footer_first_menu{
    list-style: none;
}


.footer_first_menu a{
    color: #f1f5f7;

}


.footer_first_menu a:hover,
.footer_first_menu a:focus{
    text-decoration: underline;
}


.footer_first_menu a:active{
    text-decoration: none;
    color: rgba(241, 245, 247, 0.5);
}



.footer_second_menu{/*флекс-элемент*/
    width: 720px;
    display: flex;
    justify-content: space-around;
    list-style: none; /*убираем маркеры корты сатвит браузер по умолчанию*/
    margin-top: -30px;
}

.footer_second_menu:last-child{
    padding-right: 0;
}

.footer_second_menu a{
    color: #ffd180;
}


.footer_second_menu a:hover,
.footer_second_menu a:focus{
    text-decoration: underline;
}


.footer_second_menu a:active{
    text-decoration: none;
    color: rgba(255, 209, 128, 0.5);
}


.for_footer_part_two{/*вторая часть подвала*/
    background-color:#293449;
    color: #ffffff;

    font-size: 16px;
    line-height: 18px;
}



.for_footer_part_two .container{ /*флекс контйнеер*/
    display: flex;
    align-items: center; /*выравниевание элементов вдоль поперечнойной оси*/
    padding-top: 20px;
    padding-bottom: 20px; ;
        
}





.for_footer_part_two .container p:nth-child(1){
    margin-right: 140px;
}


.for_footer_part_two .container p:nth-child(3){
    margin-left: auto;
}

.for_footer_part_two .container p:nth-child(4){
    margin-left: 50px; /**/
}




.list_socials{
    display: flex;
    width: 141px;

    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.social-button{ /*кнопк соц сети*/
    display: flex; /*Чтобы выравнять иконки в кнопках делам каждую кнопку флес конте-ом*/

    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;

    background-color: #212a3a;
    border-radius: 20px;
}


.feedback{
    color: #ffd180;/*переопределили*/
}


.for_link{
    color: #ffd180;/*переопределили*/
}


.feedback:active,
.for_link:active{
    color:#ee3643;
}




/***********************************************************************/

                    /*С Т И Л И  Д Л Я catalog.html*/





.wrap-for-logout-button{/**/
    /*border: 1px solid grey;*/
    width: 290px;
    padding-top: 10px ;
    padding-bottom: 10px;
    background-color: white;
    
}


.for-user-icon{
    
    position:relative;
    
}

.for-user-icon::before{ /*псевдоэдемент для иконки юзера*/
   content: "";
   position: absolute;
   width: 20px;
   height: 18px;
   top: -4px;    
   left: 13px;    
   background-image: url("../img/icon-user.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
   /*background-color: #ff0000;*/
}



.for-logout-icon{
    position:relative;
}


.for-logout-icon::after{ /*псевдоэлемент для иконки выхода*/
  content: "";
  
  position: absolute;
  top: -3px;
  left: 20px;
  
  width: 21px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /*background-color: #ff0000;*/
}



.name{ /*в шапке*/
    font-size: 21px;/*переопредлили*/
    line-height: 21px;
    color: #000000;
    font-family: "Cuprum", sans-serif;
    padding-left: 45px; /*место для иконки человека*/
    
    
}



.name:active{
   color: rgba(0, 0, 0, 0.3);
}



.small_link{ /*Мои заказы и Личный кабинет в header*/
    text-decoration: underline;
    color: #32425c;
    font-size: 16px; /*переопределили*/

}


.small_link:hover,
.small_link:focus{
    color: #ee3643;
}


.small_link:active{
    color:  rgba(50, 66, 92, 0.3);
}




.wrap-for-small-link{
    width: 280px;
    margin-left: 20px;
    
}

.small_link_second{ /*для иконки маленькая синяя точка*/
    position: relative;
    padding-left: 30px;/*отсуп от ссылки  Личный кабинет*/
}



.small_link_second::before{ /*псевдоэлемент для иконки маленькая синяя точка*/
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    
    top:5px;;
    left:10px;
    
    background-color: #32425c;
    border-radius: 5px;
}








.breadcrumbs{ /*хлебные крошки*/
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 13px; /*переопределили от body*/
    padding: 0;
    margin: 0;
    margin-bottom: 20px; /*отступ после крошек*/
    list-style: none; /*убираем маркеры у ссылок, котрый ставит браузер по умолчанию*/
}


.breadcrumbs li{
  position: relative; /*родитель для иконки >*/

  margin-right: 20px;
  /*border: 1px solid black;*/
  margin-left: 23px;
}


.breadcrumbs li:last-child { /*у  последнего элемента убираем правый оступ*/
  margin-right: 0;
}


.breadcrumbs li::after { /*псевдоэлемент */
  content: "";

  position: absolute;

  width: 8px; /*размеры самой иконки >*/
  height: 12px;
  top: 7px; /*на шару подобрала*/
  right: -25px;/*на шару подобрала*/
  background: url("../img/icon-right-small.svg") no-repeat;
}


.breadcrumbs-current::after { /*последий галочку в хлебных крошках не отображаем*/
   display: none;
}



.before-catalog a::before{/*псевдоэлемент домик*/
  content: "";

  position: absolute;
  width: 14px; /*размеры самой иконки >*/
  height: 12px;
  top: 7px; /*на шару подобрала*/
  right: 10px;/*на шару подобрала*/
  background: url("../img/icon-home.svg") no-repeat;

}




.breadcrumbs a{

    color: #000000;
}


.breadcrumbs a:hover,
.breadcrumbs a:focus{
    /*при наведении на ссылку и если она в фокусе(наведение курсора)*/
    text-decoration: underline; /*она подчеркивается*/

}



.change-fon{ /* блоу ПЕРФОРАТОРЫ*/
     background-color: #f4f7f9;
}






.block-for-filter-sortirovka{ /*флекс контенер*/
    display: flex;

    justify-content: space-between;/*равномерное распредление элементов вдоль гланвой оси*/

    padding: 0; /*убираем стили по умолчанию*/
    margin: 0;/*убиарем стили по умолчанию*/
    list-style: none;/*убираем маркеры у пунктов(карточек товара) меню котрый ставит сам браузер*/
    font-size:13px;
    font-family: "PTSans", sans-serif;
    line-height: 18px;

    margin-bottom: 20px;

}


.filtes-small-block{/*флекс элемент*/
    width: 170px;
    background-color: #f7f3ec;
    padding: 14px 18px;
}



.sortirovka-block{/*флекс элемент, котрый сам вялется флекс контейнером*/
    width: 720px; /*675*/
    
    display: flex;
    justify-content: space-around;/*неравномерное
    распредление элементов вдоль гланвой оси*/
    align-items: center;
    flex-wrap: wrap; /*перенос есть*/
    padding: 0; /*убираем стили по умолчанию*/
    margin: 0;/*убиарем стили по умолчанию*/
    list-style: none;/*убираем маркеры у пунктов(карточек товара) меню котрый ставит сам браузер*/

    background-color: #f7f3ec;
    /*padding: 14px 18px;*/

}

.sortirovka-block  div{ /*СОРТИРОВКА сдвигаем  влево*/
    margin-left: -80px;
}


.sortirovka-block ul{ /*флекс элемент, котрый сам флекс контейнер*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*перенос есть*/
    list-style: none;
    margin-right: 40px;
    
}





.catalog-columns {/*флекс контейнр(объединяет фильтры и каталаг)*/

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 60px; /*отлепляем секцию О перфораторах от Конетйнера с пагинацией*/
}




.filters{
    width: 200px;
}


.filter fieldset{ /*форма группы полей*/
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    border: none; /*убираем  обводку у fieldset()*/
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend{
    margin-left: 0;
    padding-left:0;
    margin-bottom: 14px;
    letter-spacing: 0.17px;
    font-size: 17px;/*перепределили от inner-page*/
    line-height: 30px; /*перепределили*/

}


.filter ul{
    padding: 0;
    margin: 0;
    list-style: none;/*убираем маркеры у списка кторый ставит браузер по умолчанию*/

}


.filter-option{
    margin-bottom: 14px;
    padding-left: 45px; /* освобождаем место для иконки чекбоксов*/
}


.filter-option label {
  position: relative; /*это родитель для  иконки чекбокса, потом будем сдвигать чекбокс относительно границ родителя*/
  display: block;
  cursor: pointer;
  user-select: none; /*отменяем выделение текста подписи цветом*/
  margin-bottom: 20px; /*расстояние между чекбоксами*/

}


legend > ul{
    margin-bottom: 24px;
}


.border-grey{
    border: 1px solid #e5e5e5;
}


.filter-input:hover + label,
.filter-input:hover + label { /*label котрый СРАЗУ идет после .filter-input*/
    color:#b5b5b5;

}


.filter-input:disabled{ /*для задизейбленного поля*/
    color: rgba(0, 0, 0, 0.4);

}


.filter label{

    font-size: 15px ;/*переопределили*/
    line-height: 20px;/*переопределили*/
    font-family: "PTSans";
    
}


.filter-input-checkbox + label::before { /* псевдоэлемент нечекнтутый чекбокс*/
  content: "";
  position: absolute;
  left: -44px;
  top: 0;

  width: 23px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0;
 
}


.filter-input-checkbox:checked + label::before { /* псевдоэлемент чекнутый чекбокс*/
  content: "";
  position: absolute;
  left: -44px;
  top: 0px;
  width: 27px;
  height: 23px;
   
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}


.filter-input-radio + label::before {/* псевдоэлемент радиобаттон нечекнутый*/
  content: "";
  position: absolute;
  left: -46px;
  top: 0px;
  width: 25px;/*размеры иконки*/
  height: 25px;

  background: url("../img/radio-off.svg") no-repeat 0 0;
}


.filter-input-radio:checked + label::after {/* псевдоэлемент радиобаттон чекнутый*/
  content: "";
  position: absolute;
  left: -46px;
  top: 0px;
  width: 25px;/*размеры иконки*/
  height: 25px;

  background: url("../img/radio-on.svg") no-repeat 0 0;
}




.button_show{ /*кнпока Показать  в фильтрах*/
  display: block;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 70px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  background-color: white;
  color: black;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
}





                    /*СТИЛИ К КАРТОЧКАМ ТОВАРОВ*/

.catalog-items {
    width: 710px; /*ширина списка*/
    margin: 10px auto; /*отцентровали список товаров*/
    display: flex;
    flex-wrap: wrap;
    
    justify-content: flex-start;
    align-items: flex-start; /*(2е последние строки чтобы элементы шли слева-направо с верхнего левого угла)*/
    
    
}


.catalog-items .row {
   margin: 0 -10px;/* (в нашем случае между элементами сетки отступы по 20 пикселей, тобишь по 10 слева и справа от блока, сделав отрицательный margin для row, мы сделали его ширину 100% +10px слева и 10px справа);*/
}


.catalog-item { /*флекс элеент*/
  position: relative;
 
  width: 218px;
 
  
  margin-bottom: 20px;
  
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}


.catalog-item:nth-child(3n) { /*у каждой 3-ей картоки убираем отступ справа*/
  margin-right: 0;
}


.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}


.catalog-item .flag-new {
  background: url("../img/new-flag.jpg") no-repeat 0 0;
}


.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
    
    
}


.catalog-item .buy,
.catalog-item .bookmark{
    
  display: block;
  width: 129px;
  margin: 0 auto;/*центруруем кнопки в контенере*/
  margin-bottom: 7px;/*отлепим первую кнопку от второй*/
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  font-size: 14px;
  font-weight: normal; 
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}



.catalog-item .image {
  width: 218px;
  height: 170px;
}


.catalog-item .image img {
  max-width: 100%;
}


.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;    
}


.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  
  color: #999;
  text-decoration: line-through;
}



.catalog-item .price{/* розовая кнопка с ценой на картчоке товара*/

    position: relative;
    font: inherit;
    font-family: "PT Sans", sans-serif;
    
    
    
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
  
    color: black;
    font: inherit;
    color: #999999;
    font-size: 17px;
    z-index: 30px;/*???*/

}



.catalog-item .price:after { /*псевдоэлемент для  розовой кнопки*/
    content: "";
    position: absolute;
    width: 141px;
    height: 38px;
    
    left: 0px;
    bottom: 0px;
    background: url("../img/red-button.svg") no-repeat; 
    z-index: 10px;/*???*/
}










.catalog-item .buy{ /*  зеленая кнопка Купить*/
    position: relative;
    
   /*переопредеяляем*/
    color: #ffffff; /*переопределили*/
    background-color: #63a63e;
    
}


.catalog-item .buy::before{ /*псевдоэлемент для коризины на  кнопке Купить*/
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    
    top  2px;
    left: 14px ;
/*background-color: red;*/
    background: url("../img/cart-icon.svg") no-repeat 0 0;
    opacity: 0.3;
}



.catalog-item .buy:hover,
.catalog-item .buy:focus{
    background-color: #5fbb2d;
    /*box-shadow: inset 0px -3px 0 0 #367315;*/

}


.catalog-item .buy:active{
    background-color: #518534;

}


.catalog-item .bookmark{ /*Кнопка В закладки*/
    
    background-color: #ffffff;

    color: #32425c;/*переопределили*/


}


.catalog-item .actions {
  display: none; /*по умолчниаю кнопки  Купиь и В закладки не отображаем*/
}



.catalog-item:hover .actions {
  display: block; /*деалет так чтобы кнопки отображались только при наведении*/
} 



.catalog-item .bookmark:hover,
.catalog-item .bookmark:focus{
    border: solid 3px #32425c;
    color: #32425c;
}


.catalog-item .bookmark:active{
    color: rgba(50, 66, 92, 0.3);
    border: solid 3px rgba(50, 66, 92, 0.3);
}


.filters h2.visually-hidden{
    display: none; /*не отобраажем*/
}


.catalog  h2.visually-hidden{
     display: none; /*не отобраажем*/
}




.pagination-list { /*Пагинация, флекс контейнер*/
  display: flex;
  flex-wrap: wrap;
  padding: 0; /*сбрасываем стили по умолчанию*/
  margin: 0;
  list-style: none;
  

}


.pagination-item {
   margin-right: 5px; /*чтоб пункты пагинации не прилипали друг к другу*/
}


.pagination-item:last-child {
  margin-right: 0;
}


.pagination-item a{
    display: block;
    padding: 8px 13px;
    background-color:  #ffffff;
    
    border: solid 1px #e5e5e5;
    border-radius: 2px;
    color: #000000;
    size: 13px;
    line-height: 18px;
    font-family: "PT Sans", sans-serif;
}


.next{
    padding: 8px 30px; /*КАК СДЕЛАТЬ БЕЗ КЛАССА??*/
}


.pagination-item-current a{
    background-color: #ee3643;

    color: white;
}
    



.pagination-item a:hover, /*при наведении*/
.pagination-item a:focus
{
    border: solid 1px #bdc6ca;

}


.pagination-item a:active{ /*при нажатии*/
    border: solid 1px #ee3643;
}




.about-perforators{
   width: auto; /*ЩИРИНА НЕ ПО УМОЛЧАНИЮ почему то*/
    background-color: #f4f7f9;
}


.text-about-perforators{
    
}




.visually-hidden:not(:focus):not(:active), /*для скрытия элементов со страницы.*/
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
